@import "tailwindcss";

:root {
    --bg-color: #FFFFFF;
    --main-color: #000000;
    --scrollbar-thumb-color: #CCCCCC;
    --scrollbar-thumb-color-hovered: #646464;
    --gradient-background-color-start: rgba(255, 255, 255, 0);
    --gradient-background-color-end: rgb(255, 255, 255);

    --with-address-bar-height: calc(var(--vh, 1vh) * 100);

    --li-before-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: black' height='40px' viewBox='0 -960 960 960' width='40px'%3E%3Cpath d='m561-214.67-74-72.66L628.67-429H132v-104.67h496.67l-142.34-143 74-72 268.34 267.34L561-214.67Z'/%3E%3C/svg%3E");
}

.dark {
    --bg-color: #000000;
    --main-color: #FFFFFF;
    --scrollbar-thumb-color: #646464;
    --scrollbar-thumb-color-hovered: #CCCCCC;
    --gradient-background-color-start: rgba(0, 0, 0, 0);
    --gradient-background-color-end: rgba(0, 0, 0, 1);

    --li-before-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: white' height='40px' viewBox='0 -960 960 960' width='40px'%3E%3Cpath d='m561-214.67-74-72.66L628.67-429H132v-104.67h496.67l-142.34-143 74-72 268.34 267.34L561-214.67Z'/%3E%3C/svg%3E");
}

html,
body {
    background-color: var(--bg-color);
    margin: 0;
    color: var(--main-color);
    font-weight: 700;
    fill: var(--main-color);
    overflow-x: hidden;
}

blockquote {
    position: relative;
    padding: 0 0 0 12px;
    margin: 10px 0 10px 25px;
    border-left: 2px solid var(--main-color);
    font-size: inherit;
}

blockquote:before {
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.275 13.5L6 10.5C5.175 10.5 4.46875 10.2063 3.88125 9.61875C3.29375 9.03125 3 8.325 3 7.5C3 6.675 3.29375 5.96875 3.88125 5.38125C4.46875 4.79375 5.175 4.5 6 4.5C6.825 4.5 7.53125 4.79375 8.11875 5.38125C8.70625 5.96875 9 6.675 9 7.5C9 7.7875 8.96562 8.05313 8.89687 8.29688C8.82812 8.54063 8.725 8.775 8.5875 9L6 13.5H4.275ZM11.025 13.5L12.75 10.5C11.925 10.5 11.2187 10.2063 10.6312 9.61875C10.0437 9.03125 9.75 8.325 9.75 7.5C9.75 6.675 10.0437 5.96875 10.6312 5.38125C11.2187 4.79375 11.925 4.5 12.75 4.5C13.575 4.5 14.2812 4.79375 14.8687 5.38125C15.4562 5.96875 15.75 6.675 15.75 7.5C15.75 7.7875 15.7156 8.05313 15.6469 8.29688C15.5781 8.54063 15.475 8.775 15.3375 9L12.75 13.5H11.025ZM6 8.625C6.3125 8.625 6.57812 8.51563 6.79687 8.29688C7.01562 8.07813 7.125 7.8125 7.125 7.5C7.125 7.1875 7.01562 6.92188 6.79687 6.70313C6.57812 6.48438 6.3125 6.375 6 6.375C5.6875 6.375 5.42187 6.48438 5.20312 6.70313C4.98437 6.92188 4.875 7.1875 4.875 7.5C4.875 7.8125 4.98437 8.07813 5.20312 8.29688C5.42187 8.51563 5.6875 8.625 6 8.625ZM12.75 8.625C13.0625 8.625 13.3281 8.51563 13.5469 8.29688C13.7656 8.07813 13.875 7.8125 13.875 7.5C13.875 7.1875 13.7656 6.92188 13.5469 6.70313C13.3281 6.48438 13.0625 6.375 12.75 6.375C12.4375 6.375 12.1719 6.48438 11.9531 6.70313C11.7344 6.92188 11.625 7.1875 11.625 7.5C11.625 7.8125 11.7344 8.07813 11.9531 8.29688C12.1719 8.51563 12.4375 8.625 12.75 8.625Z" fill="black"/></svg>');
}

* {
    -webkit-tap-highlight-color: transparent;
}


::selection {
    color: var(--bg-color);
    background-color: var(--main-color);
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hovered);
}

.article {
    p {
        font-size: 26px;
        margin: 0 0 26px;
    }

    h1 {
        font-size: 128px;
    }

    h2 {
        font-size: 96px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 40px;
    }

    h5 {
        font-size: 38px;
    }

    h6 {
        font-size: 36px;
    }

    li {
        position: relative;
        font-size: 26px;
        padding-left: 1.25em;
        list-style: none;
    }

    li::before {
        content: '';
        position: absolute;
        top: 0.75em;
        left: 0;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
        background-image: var(--li-before-url);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

@media (max-width: 1024px) {
    .article {
        p {
            font-size: 18px;
            margin: 0 0 26px;
        }

        h1 {
            font-size: 72px;
        }

        h2 {
            font-size: 52px;
        }

        h3 {
            font-size: 32px;
        }

        h4 {
            font-size: 24px;
        }

        h5 {
            font-size: 22px;
        }

        h6 {
            font-size: 20px;
        }

        li {
            font-size: 18px;
        }
    }
}

.dark blockquote:before {
    background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.275 13.5L6 10.5C5.175 10.5 4.46875 10.2063 3.88125 9.61875C3.29375 9.03125 3 8.325 3 7.5C3 6.675 3.29375 5.96875 3.88125 5.38125C4.46875 4.79375 5.175 4.5 6 4.5C6.825 4.5 7.53125 4.79375 8.11875 5.38125C8.70625 5.96875 9 6.675 9 7.5C9 7.7875 8.96562 8.05313 8.89687 8.29688C8.82812 8.54063 8.725 8.775 8.5875 9L6 13.5H4.275ZM11.025 13.5L12.75 10.5C11.925 10.5 11.2187 10.2063 10.6312 9.61875C10.0437 9.03125 9.75 8.325 9.75 7.5C9.75 6.675 10.0437 5.96875 10.6312 5.38125C11.2187 4.79375 11.925 4.5 12.75 4.5C13.575 4.5 14.2812 4.79375 14.8687 5.38125C15.4562 5.96875 15.75 6.675 15.75 7.5C15.75 7.7875 15.7156 8.05313 15.6469 8.29688C15.5781 8.54063 15.475 8.775 15.3375 9L12.75 13.5H11.025ZM6 8.625C6.3125 8.625 6.57812 8.51563 6.79687 8.29688C7.01562 8.07813 7.125 7.8125 7.125 7.5C7.125 7.1875 7.01562 6.92188 6.79687 6.70313C6.57812 6.48438 6.3125 6.375 6 6.375C5.6875 6.375 5.42187 6.48438 5.20312 6.70313C4.98437 6.92188 4.875 7.1875 4.875 7.5C4.875 7.8125 4.98437 8.07813 5.20312 8.29688C5.42187 8.51563 5.6875 8.625 6 8.625ZM12.75 8.625C13.0625 8.625 13.3281 8.51563 13.5469 8.29688C13.7656 8.07813 13.875 7.8125 13.875 7.5C13.875 7.1875 13.7656 6.92188 13.5469 6.70313C13.3281 6.48438 13.0625 6.375 12.75 6.375C12.4375 6.375 12.1719 6.48438 11.9531 6.70313C11.7344 6.92188 11.625 7.1875 11.625 7.5C11.625 7.8125 11.7344 8.07813 11.9531 8.29688C12.1719 8.51563 12.4375 8.625 12.75 8.625Z" fill="white"/></svg>');
}

.person-dates {
    font-size: 48px;
    margin: 0 0.005vw 0 0;

    @media (max-width: 1535px) {
        font-size: clamp(32px, 3vw, 48px);
    }

    @media (max-width: 1024px) {
        font-size: 26px;
        margin: 0 2px 0 0;
    }

    @media (max-width: 480px) {
        font-size: clamp(8px, 5vw, 26px);
    }
}

.person-name {
    font-size: 128px;

    @media (max-width: 1535px) {
        font-size: clamp(72px, 6.5vw, 128px);
    }

    @media (max-width: 950px) {
        font-size: var(56px);
    }

    @media (max-width: 480px) {
        display: block;
        font-size: clamp(16px, 12vw, 56px);
        line-height: clamp(16px, 10vw, 56px);
        height: calc(clamp(16px, 10vw, 56px));
    }
}

.person-name-wrapper {
    line-height: 96px;

    @media (max-width: 950px) {
        line-height: 42px;
    }

    @media (max-width: 1535px) {
        line-height: clamp(54px, 5vw, 96px);
    }
}

.modal-content {
    height: calc(var(--with-address-bar-height) - var(--spacing) * 16);

    @media (min-width: 1024px) {
        height: calc(var(--with-address-bar-height) - var(--spacing) * 32);
    }
}

.video-wrapper > div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.posts-column div:last-child .should-be-hidden {
    display: none;
}

[class*="AppMainContainer"],
[class*="EditorContainer"],
[class*="ToolbarContainer"] {
    min-width: unset !important;
}

[class*="ToolbarContainer"] {
    height: unset !important;
    align-items: center;
    min-height: 66px;
}

[class*="BackCollection"] {
    display: none !important;
}

[class*="ToolbarSectionMain-toolbarSection"] {
    flex: 1;
    > div {
        flex-wrap: wrap;
        row-gap: 6px;
        padding: 12px 0;
    }
}

[class*="ToolbarSectionBackLink-toolbarSection"] {
    flex: 0;
}

[class*="BackArrow"] {
    padding-bottom: 5px;
}

[class*="EditorControlBar"] > div {
    flex-wrap: wrap;
}

[class*="DateTimeControl"] {
    flex-wrap: wrap;
}
